// =================================================================
// nextflow.config is the main configuration script for a nextflow pipeline
// Should contain the following sections:
    // A manifest for defining workflow metadata
    // Mandated minimal version of Nextflow required to run pipeline
    // Default workflow parameter definitions
    // Shell behaviour settings for the workflow
    // Execution reports
    // Configuration profiles
    // Default resource definitions for processes

// Examples are included for each section. Remove them and replace
// with project-specific code. For more information see:
// https://www.nextflow.io/docs/latest/index.html.
//
// ===================================================================

// Define some metadata for publishing pipeline on GitHub
// See https://www.nextflow.io/docs/latest/reference/config.html#manifest

manifest {
    contributors = [
        [
            name:'Michael Geaghan',
            affiliation:'Sydney Informatics Hub',
            email:'michael.geaghan@sydney.edu.au',
            github:'https://github.com/mgeaghan',
            contribution:['author'],
            orcid:'0000-0002-4350-8600'
        ]
    ]
    name = 'scrnavigator-nf'
    description = 'A Nextflow pipeline for processing single cell RNA sequencing data and performing differential expression and functional enrichment analyses.'
    homePage = 'https://github.com/Sydney-Informatics-Hub/scrnavigator-nf'
    nextflowVersion = '!>=24'
}

// Set default workflow parameters
// See https://www.nextflow.io/docs/latest/config.html#parameters
params {
    help                            = false
    timestamp                       = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    input                           = null
    outdir                          = 'results'
    qc_only                         = false
    no_analysis                     = false
    cohort_id                       = 'cohort'
    resolutions                     = '0.6,0.8,1.0,1.2,1.4,1.6,1.8,2.0,2.2,2.4'
    integrated_resolution           = 1
    cluster_method                  = 'louvain'
    species                         = null
    no_mt                           = false
    mt_gene_list                    = null
    ens_db_rds                      = null
    s_genes                         = null
    g2m_genes                       = null
    annotation_db                   = null
    min_cells_for_annotation        = 10
    custom_marker_genes             = null
    custom_annotation_mad_threshold = 1
    cluster_annotation              = null
    cell_type_proportion_threshold  = 0.67
    manual_cluster_annotations      = null
    pseudo_groups                   = 'cluster_annotation'
    comparisons                     = null
    p_value_threshold               = 0.05
    fc_threshold                    = null
    ora_db                          = null
    gsea_db                         = null
}

// Fail a task if any command returns non-zero exit code
// See https://www.nextflow.io/docs/latest/reference/process.html#shell
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Include base module configurations
includeConfig "config/modules.config"

// Enable profiles for different compute infrastructures or set up
// See https://www.nextflow.io/docs/latest/config.html#config-profiles
profiles {
    singularity {
        singularity.enabled = true
    }
    gadi {
        includeConfig "config/gadi.config"
    }
    test {
        includeConfig "config/test.config"
    }
}

// Produce a workflow diagram, report, timeline, and trace file
// See https://www.nextflow.io/docs/latest/reports.html
dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/run_info/dag.${params.timestamp}.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/run_info/report.${params.timestamp}.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/run_info/timeline.${params.timestamp}.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/run_info/trace.${params.timestamp}.txt"
    fields = 'name,task_id,hash,workdir,status,exit,duration,realtime,cpus,%cpu,memory,%mem,peak_rss'
}
