/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}