process {
    // Set default resources for all processes
    cpus = 1
    memory = 4.Gb
    time = 1.h

    withName: "ANALYSE_DE" {
        time = 30.m
    }

    withName: "ANALYSE_GSEA" {
        time = 30.m
    }

    withName: "ANALYSE_ORA" {
        time = 30.m
    }

    withName: "ANNOTATE_CELL_CYCLE" {
        time = 30.m
    }

    withName: "ANNOTATE_CLUSTERS" {
        time = 30.m
    }

    withName: "ANNOTATE_CUSTOM" {
        time = 30.m
    }

    withName: "CLUSTER_INTEGRATED" {
        cpus = 2
    }

    withName: "DIFFERENTIAL_EXPRESSION" {
        time = 30.m
    }

    withName: "DETECT_DOUBLETS" {
        cpus = 2
    }

    withName: "FILTER" {
        time = 30.m
    }

    withName: "INTEGRATION" {
        cpus = 2
    }

    withName: "PREPROCESS_RDS" {
        time = 30.m
    }

    withName: "PSEUDOBULK" {
        time = 30.m
    }

    withName: "REPORT" {
        time = 15.m
    }

    withName: "SCTRANSFORM" {
        cpus = 2
    }

    withName: "DOWNLOAD_ENSDB" {
        time = 30.m
    }
}