// Set default resources for each process
// See https://www.nextflow.io/docs/latest/config.html#process-configuration
process {
    // Set default resources for all processes
    cpus = 1
    memory = 4.Gb

    // Set process specific resources
    // See https://www.nextflow.io/docs/latest/config.html#process-configuration
}